* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    }

header {
    background-color: #008B8B;
    color: #E0FFFF;
    text-align: center;
    margin: 0;
    padding: 30px; 
}

header p {
    margin: 15px;
    padding: 10px;
    color: #E0FFFF;
}

.nome-site {
    background-color: #008B8B;
    color: #E0FFFF;
}

.nome-site, .titulo-pagina {
    text-align: center;
    margin: 0;
    padding: 40px; 
}

.menu {
    background-color: #8B2252;
    margin: 0;
    padding: 10px;
    color: #E0FFFF;
    text-align: center;
    justify-items: center; 
    margin: auto;
}

a:link {
    color: #E0FFFF;
}

a:visited {
    color: #D1EEEE;
}

a:hover {
    color: #F5F5F5;
}

body {
    background-color: #F5F5F5; 
    height: 100vh;
}

.bg-home {
    background-image: url(./img/perfume.jpg);
}

td img {
    margin: auto;
    width: 100px;
    padding: 10;  
}

form {
    padding: 80px;
    text-align: center;
    margin: auto;
}

button {
    border: 50px;
    margin: 10px;
    padding: 10px;
    background-color: #D3D3D3;
}

table, table td, table th {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

footer {
    background-color: #008B8B;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border: 50px;
}

.redes-sociais{
    margin: auto;
    width: 100px;
    padding: 10;   
}

.redes-sociais img {
    max-width: 30px;  
    display: inline;
    width: 50px;  
    /* margin: 20px 0; */
}

footer p {
    margin: 15px;
    padding: 10px;
    color: #E0FFFF;
    text-align: center;
}